<form class="properties"
      autocomplete="off"
      novalidate
      [formGroup]="form"
      (ngSubmit)="submit()">

  <h1>Properties</h1>

  <header class="flex-center">
    <div>
      <mat-form-field>
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
      </mat-form-field>

      <button mat-raised-button
              color="primary"
              type="button"
              (click)="addProperty()">
        <span class="material-icons"> add </span>
        <span class="plus">Add New Property</span>
      </button>
    </div>

    <div>
      <button *ngIf="containerExists"
              mat-raised-button
              color="primary"
              type="button"
              (click)="copyToContainer()">
        Copy into Container
      </button>

      <button mat-raised-button
              color="primary"
              type="button"
              (click)="removeExtraLines()">
        Remove Empty Extra Lines
      </button>

      <button mat-raised-button
              color="primary"
              type="submit"
              [disabled]="form.invalid">
        Apply
      </button>
    </div>
  </header>

  <div class="table-container">
    <table mat-table
           matSort
           formArrayName="rows"
           [dataSource]="dataSource">

      <ng-container matColumnDef="idx">
        <th mat-header-cell mat-sort-header *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let idx = index;">
          {{ idx + 1 }}
        </td>
      </ng-container>

      <ng-container matColumnDef="ico">
        <th mat-header-cell mat-sort-header *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element; let idx = index;" [formGroupName]="idx">
          <div class="action">
            <span *ngIf="!element.status"
                  class="t_danger material-icons"
                  (click)="delete(idx, element.line)">
              delete
            </span>

            <mat-slide-toggle formControlName="enabled"
                              color="primary"
                              [checked]="!element.enabled">
            </mat-slide-toggle>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element">
          <span [class.t_danger]="!element.status" [innerHTML]="element.name"></span>
        </td>
      </ng-container>

      <ng-container matColumnDef="value">
        <th mat-header-cell *matHeaderCellDef> Value </th>
        <td mat-cell *matCellDef="let element; let idx = index;" [formGroupName]="idx">
          <span *ngIf="element.type === 'boolean'">
            <mat-checkbox class="example-margin" formControlName="value"></mat-checkbox>
          </span>

          <ng-container *ngIf="!element.type">
            <!-- <mat-form-field> -->
            <!-- <mat-label>easyleads.conf</mat-label> -->
            <input matInput
                   class="form-control"
                   placeholder="easyleads.conf"
                   formControlName="value">
            <!-- <mat-hint>Path to easyleads.conf</mat-hint> -->
            <!-- </mat-form-field> -->
          </ng-container>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

</form>
