\:host
  display: block
  padding: 2rem
  height: calc(100% - 4rem)

.properties
  display: flex
  flex-direction: column
  height: 100%
  .plus
    margin: 0 1rem
  .action
    position: relative
    .t_danger
      position: absolute
      top: 0
      left: -3rem

.table-container
  min-height: 0
  flex: 1
  overflow: auto
  table
    width: 100%



th.mat-header-cell:first-of-type,
td.mat-cell:first-of-type,
td.mat-footer-cell:first-of-type
  padding: 0 1rem
.mat-header-cell,
.mat-cell
  padding: 0 2rem

.mat-header-cell
  font-weight: bold

.mat-column-idx
  max-width: 2rem
  width: 2rem

.mat-column-ico
  max-width: 3rem
  width: 3rem
  cursor: pointer

.mat-column-name
  max-width: 30rem
  width: 30rem

header
  justify-content: space-between
  button
    min-width: 10rem
    margin-left: 2rem
