<form autocomplete="off"
      novalidate
      [formGroup]="form"
      (ngSubmit)="submit()">

  <main>
    <mat-form-field appearance="outline">
      <mat-label>Path to easyleads.conf</mat-label>

      <adscale-file-path-autocomplete placeholder="easyleads.conf"
                                      formControlName="easyleads">
      </adscale-file-path-autocomplete>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Path to backend folder</mat-label>

      <adscale-file-path-autocomplete placeholder="Backend Folder"
                                      formControlName="repo">
      </adscale-file-path-autocomplete>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Path to UI folder</mat-label>

      <adscale-file-path-autocomplete placeholder="Angular Folder"
                                      formControlName="ui">
      </adscale-file-path-autocomplete>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>DB IP</mat-label>

      <input matInput
             type="text"
             placeholder="Set your DB IP"
             formControlName="dbIP"
             mask="099.099.099.099"
             [dropSpecialCharacters]="false">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>App Port</mat-label>

      <input matInput
             type="text"
             placeholder="Set application Port"
             formControlName="appPort"
             mask="0999">
    </mat-form-field>
  </main>

  <footer class="flex-center">
    <small class="t_danger" [innerHTML]="errMessage"></small>

    <button mat-raised-button
            color="primary"
            [disabled]="form.invalid">
      Apply
    </button>
  </footer>

</form>
